@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

body {
    background-color: #14213D;
}

main {
    background-color: #f0f1e5;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    margin: 2% auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-form {
    display: flex;
    margin-bottom: 50px;
    gap: 15px;
    width: 100%;
}

input {
    width: 100%;
    flex: 1;
    padding: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
}

button[type="submit"] {
    background-color: #14213D;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

td {
    color: #333;
    font-weight: 600;
}

tr:nth-child(odd) {
    background-color: #f5f5f5;
}

select {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #ebebeb;
}

select:hover {
    background-color: #DDD;
}

.edit-btn {
    background-color: orange;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #FFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dlt-btn{
    background-color: #E9190F;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #FFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
